.rent-item {
	height: 250px;
	border-radius: 5px;
	background-color: #d8d2c9;
	padding: 20px;
	margin: 20px;
	position: relative;
}

.rent-item img {
	border-radius: 5px;
	margin-right: 20px;
	float: left;
	max-width: 30%;
	max-height: 100%;
}

.rent-item button.delete {
	position: absolute;
	bottom: 35px;
	right: 150px;
}

.rent-item a.inquire {
	position: absolute;
	bottom: 35px;
	right: 50px;
}

div.sort {
	border-radius: 5px;
	background-color: #d8d2c9;
	max-width: 270px;
	padding: 10px;
	margin: 20px;
	position: relative;
}
